.categoryPage {
  background-color: #ffffff;

}

.Drinks,
.Dishes,
.Desserts {
  height: 300px;
  width: 100%;
  box-shadow: 9px 9px 11px 4px rgba(0, 0, 0, 0.25);
}

.categoryHeader.Dishes {
  background: url("../assets/Dishes/dishes_hero.jpg") center center / 100%;
}

.categoryHeader.Desserts {
  background: url("../assets/Desserts/desserts_hero.jpg") center center / 100%;
}

.categoryHeader.Drinks {
  background: url("../assets/newdrinks/drinks2_huge.jpg") center center/ 100%;
}

.categoryPage h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.categoryPage span {
  margin: 36px auto;
  background: #f0eeee;
  list-style: none;
  padding: 8px 8px;
  width: 80%;
  display: block;
  text-align: left;
  line-height: 21px;
}

@media screen and (min-width: 550px) {
  .top h1 {
    font-size: 48px;
  }
  .Drinks,
  .Dishes,
  .Desserts {
    height: 450px;
    background-position: center;

  }
  .categoryPage h1 {
    top: 50%;
    font-size: 64px;
  }
  .categoryPage span {
    
    max-width: 40%;
    
  }

}
