.categoryPage {
  background-color: #ffffff;
}

.Drinks,
.Dishes,
.Desserts {
  height: 300px;
  width: 100%;
  box-shadow: 9px 9px 11px 4px rgba(0, 0, 0, 0.25);
}

.header.Dishes {
  background: url("../assets/Dishes/dishes_hero.jpg") center center / 100%;
}

.header.Desserts {
  background: url("../assets/Desserts/desserts_hero.jpg") center center / 100%;
}

.header.Drinks {
  background: url("../assets/Drinks/drinks_big.jpg") left center/ 100% 300px;
}

.categoryPage h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.categoryPage p {
  margin: 16px auto;
  background: #f0eeee;
  list-style: none;
  padding: 8px 8px;
  width: 80%;
  display: block;
  text-align: left;
}

@media screen and (min-width: 550px) {
  .top h1 {
    font-size: 48px;
  }
  .Drinks,
  .Dishes,
  .Desserts {
    height: 450px;
    background-position: center;
  }
}
