.home {
  width: 100%;
}
.hero {
  height: 557px;
  width: 100%;

  background: radial-gradient(
      at center center,
      rgba(46, 191, 17, 0.5) 0.5%,
      #3a37377c 100%
    ),
    url("../assets/hero_huge.jpg") center center / 100%;
}

.hero p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  line-height: 41px;
  font-weight: bolder;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-shadow: 2px 2px 90px green, -2px -2px 2px #503e9d;
}

@media screen and (min-width: 960px) {
  .hero p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero {
    height: 86vh;
  }
  .hero p {
    font-size: 56px;
  }
}
