.header {
  background-color: rgba(101, 139, 102, 255);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  filter: drop-shadow(4px 20px 20px rgba(36, 101, 8, 0.25));
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 1px;
}

.logo {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo a i {
  letter-spacing: 1px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: flex-start;
  justify-content: center;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

nav ul {
  display: flex;
  padding-left: 0px;
}

nav ul li {
  list-style: none;
  margin: 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 550px) {
  .logo {
    font-size: 40px;
    padding: 36px;
  }
  nav ul li a {
    font-size: 18px;
  }
}
