.header_wrapper i {
  color: black;
  padding: 6px 6px;
  position: absolute;
  top: 5%;
  left: 6%;
  background-color: #f0eeee;
  border-radius: 8px;
}

.product_wrapper .header_wrapper img {
  width: 160px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 30%;
  margin-bottom: 40px;
  filter: drop-shadow(0px 4px 37px rgba(198, 26, 26, 0.25));
}

.header_wrapper {
  height: 15vh;
}

.details {
  border-top-left-radius: 61px;
  border-top-right-radius: 61px;
  background-color: #ffffff;
}

.details h2 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}
.details h3 {
  padding: 20px 20px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card li {
  background: #f0eeee;
  border-radius: 12px;
  list-style: none;
  padding: 8px 8px;
  width: 20%;
  display: block;
  text-align: center;
  box-shadow: 9px 9px 11px 4px rgba(0, 0, 0, 0.25);
}
.card span {
  width: 100%;
  margin: auto;
  font-size: 30px;
}
.card p {
  font-weight: 400;
  font-size: 12px;
}

.content-table {
  border-collapse: collapse;
  width: 80%;
  font-size: 0.9em;
  min-width: 60px;
  margin:0 auto;
}

.content-table td {
  padding: 8px 30px;

}

.content-table tr {
  border-bottom: 1px solid gray;
}

.table-container {
  width: 80%;
  margin: 0 auto;
}

.table-container h3 {
  margin-top: 16px;
}